@charset "utf-8";
/* CSS Document */
body{
margin:0px;
padding:0px;

}
#Content{
	padding:0px;
	margin:0 auto;
	width:1002px;
	height:1085px;
	}
a{
	text-decoration:none;
	}
.content{
	margin:auto;
	background:url(../images/project.gif) center no-repeat;
	margin:auto;
	width:1002px;
	height:916px;
	
	}
#projectShow{
	padding-top:49px;
	padding-left:6px;
	margin:auto;
	width:878px;
	height:733px;
	}
#projectShow ul{
	padding:0px;
	margin:0px;
	}
#projectShow ul li{
	border:#FFF thin solid;
	list-style-type:none;
	position:relative;
	width:288px;
	height:215px;
	float:left;
	}
#projectShow ul li img{
	border:none;
	width:288px;
	height:215px;
	float:left;
	}
#projectShow ul li a{
	/*z-index:1000;*/
	display:block;
	position:absolute;
	background:url(../images/project_tc.png);
	width:288px;
	height:215px;
	left:0px;
	top:0px;
	font-family:微软雅黑;
	font-size:22px;
	color:#F30;
	text-align:center;
	line-height:215px;
	
}
* html.filter1 {
	background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/png_test.png');
	}
.filter1{
	
	filter:alpha(opacity:50);opacity:0.5;
	}
.filter2{
	filter:alpha(opacity:90);opacity:0.9;
	}
.middle{
	margin:auto;
	padding-top:46px;
	width:1002px;
	height:735px;
	position:relative;
	}
#div{
	border:#00C thin solid;
	margin:auto;
	width:640px;
	height:88px;
	margin-left:179px;
	}
.small_img{
	margin:auto;
	width:640px;
	height:88px;
	position:relative;
	overflow:hidden;
	}
.small_img ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
#scroll_img{
	position:absolute;
	left:0px;
	top:0px;
	}
#scroll_img li{
	background:#FFF;
	border:#FFF thin solid;
	list-style-type:none;
	float:left;
	width:121px;
	height:86px;
	margin-left:5px;
	text-align:center;
	vertical-align:middle;
	}
.small_img img{
	border:none;
	width:114px;
	height:86px;
	}
#left{
	position:absolute;
	z-index:1000;
	width:40px;
	height:112px;
	line-height:112px;
	text-align:center;
	font-size:44px;
	font-family:微软雅黑;
	font-weight:bold;
	text-decoration:none;
	color:#FFF;
	left:125px;
	top:32px;
	}
#right{
	position:absolute;
	z-index:1000;
	width:40px;
	height:112px;
	line-height:112px;
	text-align:center;
	font-size:44px;
	font-family:微软雅黑;
	font-weight:bold;
	text-decoration:none;
	color:#FFF;
	left:830px;
	top:32px;
	}
#project_intro{
	border:#FFF groove;
	background:#FFF;
	margin-top:92px;
	margin-left:180px;
	width:284px;
	height:360px;
	}
#project_intro ul{
	margin:0px;
	padding:0px;
	}
#big_img li{
	list-style-type:none;
	width:284px;
	height:360px;
	position:absolute;
	}
#big_img li img{
	border:none;
	width:284px;
	height:260px;
	}
#big_img li p{
	font-size:18px;
	font-family:微软雅黑;
	font-family:宋体;
	}